:root {
  --z-base: 1;
  --z-dropdown: 100;
  --z-sticky: 500;
  --z-header: 700;
  --z-overlay: 900;
  --z-modal: 1000;
  --z-toast: 1200;
  --z-tooltip: 1400;
  --z-cursor: 2000;
  --z-loader: 9999;
}