.menu{

position:fixed;

inset:0;

background:linear-gradient(135deg,#123524,#5B1625);

display:flex;

justify-content:center;

align-items:center;

transform:translateX(100%);

transition:.45s;

z-index:99999;

}

.open{

transform:translateX(0);

}

.menu nav{

display:flex;

flex-direction:column;

gap:32px;

}

.link{

font-size:2rem;

color:white;

text-decoration:none;

font-family:var(--font-heading);

transition:.3s;

}

.link:hover{

color:var(--color-secondary);

padding-left:12px;

}

.close{

position:absolute;

top:30px;

right:30px;

background:none;

border:none;

color:white;

cursor:pointer;

}